body{
	background-color: #777;
	box-sizing: border-box;
}

#header-position{
	background-color: lightgray;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	padding: 10px;
	margin: 0.2%;
	margin-bottom: 0.5%;
	width: 95%;
}

#nav-id{
	background-color: lightgray;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	padding: 10px;
	margin: 0.2%;
	width: 95%;
}

#nav-id{
	text-align: center;
}

#section-id{
	float: left;
	width: 47.5%;
	height: 200px;
	padding: 0.5%;
	margin: 0.2%;
	background: lightgray;
}
/*
#aside-id{
	text-align: center;
	font-size: 20px;
	width: 46%;
	height: 200px;
	padding: 19px;
	margin-left: 5px;
}
#aside-id{
	float: left;
	width: 46%;
	padding: 1%;
	margin: 0.2%;
	background: lightgray;
}*/

#aside-id{
	text-align: center;
	font-size: 20px;
	float: left;
	width: 47.5%;
	height: 200px;
	padding: 0.5%;
	margin: 0.2%;
	background: lightgray;
}

#section-id{
	text-align: center;
	font-size: 25px;
	font-weight: normal;
}

#article-id{
	background-color: #777;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	border-style: solid;
	border-color: #777;
	border-width: 5px;
	content: #ebebeb;
}

h1{
	background-color: lightgray;
}

#h-id{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}

p{
	background-color: lightgray;
}
#p-id{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}


footer{
	padding: 10px;
	margin: 0.2%;
	width: 95%;
	color: black;
	background-color: lightgray;
	clear: both;
	border-top: solid;
	border-color: #777;
	border-width: 5px;
	text-align: center;
}